@model CompetentieTool.Models.ViewModels.VacatureViewModel
@inject CompetentieTool.Models.IRepositories.ICompetentieRepository compRep

<h2>Vacature aanmaken</h2>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="SelecteerCompetenties">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Functie" class="control-label"></label>
                <input asp-for="Functie" class="form-control" />
                <span asp-validation-for="Functie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beschrijving" class="control-label"></label>
                <input asp-for="Beschrijving" class="form-control" />
                <span asp-validation-for="Beschrijving" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Selecteer Competenties" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="VacaturesList">Back to List</a>
</div>

