@model CompetentieTool.Models.ViewModels.VacatureViewModel
@inject CompetentieTool.Models.IRepositories.ICompetentieRepository compRep
<h2>Selecteer Competenties</h2>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(x => x.Functie)
            @Html.HiddenFor(x => x.Beschrijving)
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Naam</th>
                        <th scope="col">Verklaring</th>
                    </tr>
                </thead>
                <tbody>
                    @Html.EditorFor(m => m.CompetentieIds)
                </tbody>
            </table>
            <div class="form-group">
                <input type="submit" value="Finaliseer" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>