@{
    ViewData["Title"] = "Registratie";
}
<div class="d-inline-flex">
    <h3 class="align-self-center">Ik wil registreren als</h3>
    <div class="row justify-content-between">
        <div class="col-sm-5">
            <a class="display-2 regis" asp-area="Identity" asp-page="/Account/RegisterSollicitant">Sollicitant</a>
        </div>
        <div class="col-sm-5">
            <a class="display-2 regis" asp-area="Identity" asp-page="/Account/Register">Werkgever</a>
        </div>
    </div>
</div>
