@{
    ViewData["Title"] = "Registratie";
}
<h3>Ik wil registreren als</h3>
<div class="row">
    <div class="col-lg-4">
        <a asp-area="Identity" asp-page="/Account/RegisterSollicitant">Sollicitant</a>
    </div>
    <div class="col-lg-8">
        <a asp-area="Identity" asp-page="/Account/Register">Werkgever</a>
    </div>
</div>