@using Microsoft.AspNetCore.Identity
@using CompetentieTool.Models.Identities

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User) && User.IsInRole("Sollicitant"))

//if logged in as sollicitant
{
    <a asp-area="" asp-controller="Sollicitant" asp-action="Vacatures">Vacatures</a>
    <a asp-area="" asp-controller="Sollicitant" asp-action="Uitnodigingen">Uitnodigingen</a>
    <a asp-area="" asp-controller="User" asp-action="Gegevens">Profiel</a>
}
@if (SignInManager.IsSignedIn(User) && User.IsInRole("Werkgever"))
{
    <a asp-area="" asp-controller="Bedrijf" asp-action="VacaturesList">Vacatures</a>
    <a asp-area="" asp-controller="User" asp-action="Gegevens">Profiel</a>
}
