@using Microsoft.AspNetCore.Identity
@using CompetentieTool.Models.Identities

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

    <a asp-area="" asp-controller="Sollicitant" asp-action="Vacatures">Vacatures Invullen</a>
    <a asp-area="" asp-controller="Bedrijf" asp-action="VacaturesList">Vacatures Beheren</a>

