@using Microsoft.AspNetCore.Identity
@using CompetentieTool.Models.Identities

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@if (SignInManager.IsSignedIn(User) && User.IsInRole("Werkgever"))
{
    <a asp-area="" asp-controller="Bedrijf" asp-action="VacaturesList">Vacatures Beheren</a>
}