@{
    ViewData["Title"] = "About";
}
<h3>Hoe start ik?</h3>
<div class="row">
    <div class="col-lg-4">
        <h4>Sollicitant</h4>
        <p>u begint met een account aan te maken als sollicitant. Zo krijg u toegang tot een overzicht van profielen. </p>
        <p>Deze profielen kan u gaan invullen en zo dien u gelijk een aanvraag tot sollicitatie in.</p>
        <p>Op basis hiervan zal de werkgever beslissen of hij u wil uitnodigen tot een gesprek of niet. Zo ja krijg u hier dan ook meteen een melding van.</p>
    </div>
    <div class="col-lg-8">
        <h4>Werkgever</h4>
        <p>u begint met een account aan te maken als werkgever. Hierna kan u een profiel opstellen voor de vacature die u wil openzetten.</p>
        <p>Hier selecteer u de competenties die voor die specifieke vacature het meest van belang zijn. Op basis van de aangeduide competenties wordt een vragenlijst opgesteld die de sollicitanten kunnen invullen.</p>
        <p>
            Per opengesteld profiel krijg u dan een lijst met ingevulde vragenlijsten en een gegenereerd rapport op basis waarvan u kan beslissen de sollicitant al dan niet uit te nodigen.
            Met een klik kun u dan de geschikte sollicitanten uitnodigen voor een gesprek.
        </p>
    </div>
</div>