@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-lg-7">
        <h2>Competentieverkenner voor hulpverlening in de geestelijke gezondheidszorg</h2>
        <h3>Waarvoor dient deze tool?</h3>
        <p>
            Deze tool dient om wervingen en sollicitaties binnen de GGZ te faciliteren en te ondersteunen. 
            De tool vervangt geen gesprek, maar probeert de competenties van de sollicitant of toekomstige werknemer zo breed mogelijk te exploreren, 
            wat moeilijker kan binnen het tijdbestek van een klassieke sollicitatie. Mogelijke discrepanties tussen verwachte competenties en de competenties waarover de werknemer 
            beschikt kunnen onderwerp zijn van het solliciatiegesporek en kunnen eveneens opgenomen worden in het vormingstraject dat de toekomstige werknemer zal doorlopen.
        </p>
        @*
            TODO: login widget voor sollicitant
        *@
        @*
            TODO: login widget voor werkgever
        *@
    </div>
    <aside class="col-lg-5">
        <h2>Hoe start ik?</h2>
        <div>
            <h3>Sollicitant</h3>
            <p>U start met te registreren als sollicitant. Zo krijg u toegang tot een overzicht van profielen. </p>
            <p>Deze profielen kan u gaan invullen en kan u deelnemen aan de eerste ronde van het sollicitatie- of wervingsgesprek</p>
           
        </div>
        <div>
            <h3>Werkgever</h3>
            <p>Om te beginnen registreert u als werkgever. Hierna kan u een profiel opstellen voor de vacature die u wil openzetten.</p>
            <p>Hier selecteer u de competenties die voor die specifieke vacature het meest van belang zijn. Op basis van de aangeduide competenties wordt een vragenlijst opgesteld die de sollicitanten kunnen invullen.</p>
            <p>
                Per opengesteld profiel krijg u dan een lijst met ingevulde vragenlijsten en een gegenereerd rapport op basis waarvan u kan beslissen de sollicitant al dan niet uit te nodigen.
                Met een klik kun u dan de geschikte sollicitanten uitnodigen voor een gesprek.
            </p>
        </div>
    </aside>
</div>