@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-lg-7">
        <h2>De CompetentieVerkenner</h2>
        <h3>Waarvoor dient deze tool?</h3>
        <p>
            Deze tool dient om sollicitaties binnen de geestelijke gezondheidszorg te vergemakkelijken
            en een voorbereidend rapport te leveren waarbij de zelfinschatting van de potentiële werknemer wordt vergeleken met de verwachtingen van de werkgever.
        </p>
        @*
            TODO: login widget voor sollicitant
        *@
        @*
            TODO: login widget voor werkgever
        *@
    </div>
    <aside class="col-lg-5">
        <h2>Hoe start ik?</h2>
        <div>
            <h3>Sollicitant</h3>
            <p>Je begint met een account aan te maken als sollicitant. Zo krijg je toegang tot een overzicht van profielen. </p>
            <p>Deze profielen kan je gaan invullen en zo dien je gelijk een aanvraag tot sollicitatie in.</p>
            <p>Op basis hiervan zal de werkgever beslissen of hij je wil uitnodigen tot een gesprek of niet. Zo ja krijg je hier dan ook meteen een melding van.</p>
        </div>
        <div>
            <h3>Werkgever</h3>
            <p>Je begint met een account aan te maken als werkgever. Hierna kan je een profiel opstellen voor de vacature die je wil openzetten.</p>
            <p>Hier selecteer je de competenties die voor die specifieke vacature het meest van belang zijn. Op basis van de aangeduide competenties wordt een vragenlijst opgesteld die de sollicitanten kunnen invullen.</p>
            <p>
                Per opengesteld profiel krijg je dan een lijst met ingevulde vragenlijsten en een gegenereerd rapport op basis waarvan je kan beslissen de sollicitant al dan niet uit te nodigen.
                Met een klik kun je dan de geschikte sollicitanten uitnodigen voor een gesprek.
            </p>
        </div>
    </aside>
</div>