@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Bevestiging wachtwoord wijziging";
}

<h2>@ViewData["Title"]</h2>
<p>
    Uw wachtwoord is gewijzigd. <a asp-page="./Login">Log in</a>.
</p>
